<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.04.02" ModuleVersion="17.00.00" ExportDate="2024-01-12T13:36:41.333501-06:00">
  <Header>
    <App Guid="1566f9d3-9580-4b0d-83de-51d34b04c5f7" />
    <Language Default="en-us" />
    <Dimensions />
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Scope="System.App" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="PrintQrAdminHint" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="dd181544-ddad-4f3e-b595-23567b3098ea" Json="True" KeyNumber="1">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="PrintQrAdminHint" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="8f8f2b1e-5d0b-4685-967f-d75b9d7b39fe" Json="True" KeyNumber="1">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="fb38d9ed-77c8-4a64-abee-5e47bd29990b" Json="True" KeyNumber="1">
            <Value Key="InputFontFamily" Value="" Type="String" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Scope="System.App" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="862dd09d-04bb-4764-9840-679f80e78d68" Json="True" KeyNumber="2">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="QrCodeSettings" Type="Entity" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="78b6379c-c103-41c4-94ee-f4b713bb19c6" Json="True" KeyNumber="3">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="entity-default" Type="String" />
            <Value Key="Name" Value="QR Code Settings - Default for all Outputs" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Entity" AttributeSetName="@Entity" EntityGUID="b9ce22fe-245c-4765-b1d6-542fab0e60d3" Json="True" KeyNumber="3">
            <Value Key="AllowMultiValue" Value="False" Type="Boolean" />
            <Value Key="EnableAddExisting" Value="True" Type="Boolean" />
            <Value Key="EnableCreate" Value="True" Type="Boolean" />
            <Value Key="EnableDelete" Value="False" Type="Boolean" />
            <Value Key="EnableEdit" Value="True" Type="Boolean" />
            <Value Key="EnableRemove" Value="True" Type="Boolean" />
            <Value Key="EntityType" Value="QrCodeSettings" Type="String" />
            <Value Key="Prefill" Value="" Type="String" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="14ce1b3c-e00b-46de-8ae3-2819a6ea7a33" Name="Link" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="da42df91-9bce-4696-ae28-89670454dfc6" Json="True" KeyNumber="4">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Title (leave empty to display link)" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="fbe71b50-5787-4a32-a2f9-548f2a9f4f73" Json="True" KeyNumber="4">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="DisplayLinkOrTitle" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="b4dde888-a4bf-4bf8-ab09-3a039a064195" Json="True" KeyNumber="5">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="true" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="boolean-default" Type="String" />
            <Value Key="Name" Value="DIsplay link or title" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Boolean" AttributeSetName="@Boolean" EntityGUID="f1def559-b582-470d-a591-c6750c5644cc" Json="True" KeyNumber="5">
            <Value Key="TitleFalse" Value="Link or title isn't displayed" Type="String" />
            <Value Key="TitleIndeterminate" Value="" Type="String" />
            <Value Key="TitleTrue" Value="Link or title is displayed" Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="LinkCurrentPage" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="044bb003-ca0e-45c9-80b9-987322c31eb9" Json="True" KeyNumber="6">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="true" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="boolean-default" Type="String" />
            <Value Key="Name" Value="Link Current Page" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Boolean" AttributeSetName="@Boolean" EntityGUID="00c1e358-67e7-4bea-a191-80a15dd913a8" Json="True" KeyNumber="6">
            <Value Key="TitleFalse" Value="Link to a specific URL" Type="String" />
            <Value Key="TitleIndeterminate" Value="" Type="String" />
            <Value Key="TitleTrue" Value="Link to current page" Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Link" Type="Hyperlink" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="898b0e3c-ca29-472e-8184-228720882463" Json="True" KeyNumber="7">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="Formulas" Value="f04d34b3-fe73-463e-86a5-46451de58934" Type="Entity" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Link" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Hyperlink" AttributeSetName="@Hyperlink" EntityGUID="3de1477f-4c3b-4565-85c1-5e66ac5ec629" Json="True" KeyNumber="7">
            <Value Key="Buttons" Value="adam,more" Type="String" />
            <Value Key="DefaultDialog" Value="" Type="String" />
            <Value Key="FileFilter" Value="" Type="String" />
            <Value Key="Paths" Value="" Type="String" />
            <Value Key="ServerResourceMapping" Value="" Type="String" />
            <Value Key="ShowAdam" Value="True" Type="Boolean" />
            <Value Key="ShowFileManager" Value="False" Type="Boolean" />
            <Value Key="ShowImageManager" Value="False" Type="Boolean" />
            <Value Key="ShowPagePicker" Value="False" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="NotesInternal" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="6633d91a-2bc8-49f8-8a23-e73778ecc797" Json="True" KeyNumber="8">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-wysiwyg" Type="String" />
            <Value Key="Name" Value="Internal notes" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;Only for internal usage&lt;/p&gt;" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="1cb69c46-5ef2-4e4c-8066-141036b6e07b" Json="True" KeyNumber="8">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="wysiwyg" Type="String" />
            <Value Key="RowCount" Value="1.0" Type="Number" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-wysiwyg" AttributeSetName="@string-wysiwyg" EntityGUID="f503e761-630d-4439-b335-767b2d6946a7" Json="True" KeyNumber="8">
            <Value Key="ButtonAdvanced" Value="" Type="String" />
            <Value Key="ButtonSource" Value="" Type="String" />
            <Value Key="ContentCss" Value="" Type="Hyperlink" />
            <Value Key="Dialog" Value="inline" Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="VarOverrideQrSettings" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="378eb348-e22f-472b-8ce5-e39c75d7296b" Json="True" KeyNumber="9">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="Formulas" Value="b923cc5a-fe78-400e-b196-abcbe81b9e94,33a60092-07b1-46c6-9c1e-e03a9e754910" Type="Entity" />
            <Value Key="InputType" Value="boolean-default" Type="String" />
            <Value Key="Name" Value="VarOverrideQrSettings" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Boolean" AttributeSetName="@Boolean" EntityGUID="962dd7b6-ffb2-4bb3-9a98-adaed843f03d" Json="True" KeyNumber="9">
            <Value Key="TitleFalse" Value="Use standard settings for size, colors etc." Type="String" />
            <Value Key="TitleIndeterminate" Value="" Type="String" />
            <Value Key="TitleTrue" Value="Override settings to use custom size, colors etc." Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="QrCodeSettings" Type="Entity" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="a0a3359a-1d21-48c5-9692-b1f338ab1bb4" Json="True" KeyNumber="10">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="Formulas" Value="52d362e7-ba84-494e-b027-0038af375466" Type="Entity" />
            <Value Key="InputType" Value="entity-default" Type="String" />
            <Value Key="Name" Value="QR Code Settings - leave empty to use defaults" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Entity" AttributeSetName="@Entity" EntityGUID="d5dfc757-4bb6-4de8-9ae3-55853d4f1b33" Json="True" KeyNumber="10">
            <Value Key="AllowMultiValue" Value="False" Type="Boolean" />
            <Value Key="EnableAddExisting" Value="True" Type="Boolean" />
            <Value Key="EnableCreate" Value="True" Type="Boolean" />
            <Value Key="EnableDelete" Value="False" Type="Boolean" />
            <Value Key="EnableEdit" Value="True" Type="Boolean" />
            <Value Key="EnableRemove" Value="True" Type="Boolean" />
            <Value Key="EntityType" Value="QrCodeSettings" Type="String" />
            <Value Key="Prefill" Value="" Type="String" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="d9576870-dc6a-4ac8-ab34-1eec47d7e8f1" Name="QrCodeSettings" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="8fa1850c-4081-4899-9627-54deb2afbae3" Json="True" KeyNumber="11">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;Only for internal usage&lt;/p&gt;" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="0395091c-bc1e-4853-93fd-fa037bc2f2c6" Json="True" KeyNumber="11">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Size" Type="Number" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="8e440b77-7b15-403d-9964-7db777cdb7a2" Json="True" KeyNumber="12">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="200" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Size" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;Size in px&lt;/p&gt;" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Number" AttributeSetName="@Number" EntityGUID="2b25284b-eb6f-496d-9e60-38efeb29ea2b" Json="True" KeyNumber="12">
            <Value Key="Decimals" Value="0.0" Type="Number" />
          </Entity>
        </Attribute>
        <Attribute StaticName="ShowLinkOrTitleBelow" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="67c6f4fb-fb15-46c7-ac3b-211dc15dc499" Json="True" KeyNumber="13">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-dropdown" Type="String" />
            <Value Key="Name" Value="Show Link/Title Below" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="1f695588-848c-489b-91fe-8803d5f6721e" Json="True" KeyNumber="13">
            <Value Key="DropdownValues" Value="Show:block&#xD;&#xA;Don't show:none" Type="String" />
            <Value Key="InputType" Value="dropdown" Type="String" />
            <Value Key="RowCount" Value="1.0" Type="Number" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-dropdown" AttributeSetName="@string-dropdown" EntityGUID="131ef3d2-9e8e-4899-a259-74f46dfbe330" Json="True" KeyNumber="13">
            <Value Key="DropdownValues" Value="Show:block&#xA;Don't show:none" Type="String" />
            <Value Key="EnableTextEntry" Value="False" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Color" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="3508a061-b801-402b-87e9-b85fb035a3f8" Json="True" KeyNumber="14">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="000000" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Color" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;Color in Hex (6-Digits) for example 000000 (black), 0088F4 (2sic blue), D50F7E (2sic magenta) or&amp;nbsp;97D600 (2sic green).&lt;/p&gt;" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="59a35de6-7c0d-4811-848f-d5a1bb91c311" Json="True" KeyNumber="14">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="BackgroundColor" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="c3ca55af-7589-48c1-b828-73dc34547fe5" Json="True" KeyNumber="15">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="FFFFFF" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Background Color" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;The background color - usually FFFFFF (white)&lt;/p&gt;" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="7de1a7c3-c14b-436c-a6da-8e50993f593d" Json="True" KeyNumber="15">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Border" Type="Number" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="5e4dc57d-6590-4edf-9ae0-dd6d43f28711" Json="True" KeyNumber="16">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="1" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Border" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;The width of the &quot;white space&quot; around the QR-Code. Recommended to leave at 1.&lt;/p&gt;" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Number" AttributeSetName="@Number" EntityGUID="cbafe240-6ee5-4ff0-b785-6db00bfaf4ca" Json="True" KeyNumber="16">
            <Value Key="Decimals" Value="0.0" Type="Number" />
            <Value Key="Max" Value="10.0" Type="Number" />
            <Value Key="Min" Value="1.0" Type="Number" />
          </Entity>
        </Attribute>
        <Attribute StaticName="ErrorCorrection" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="e1c7b39c-6edd-4664-abc4-4887fc98c095" Json="True" KeyNumber="17">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="L" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-dropdown" Type="String" />
            <Value Key="Name" Value="Error Correction" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;Error correction Rate. We always recommend to use Low. Higher values will add more pixels duplicating some information, but also making it harder to scan.&lt;/p&gt;" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="c93b178c-d4a7-413e-b5fd-769938548967" Json="True" KeyNumber="17">
            <Value Key="DropdownValues" Value="Low ~7% (recommended):L&#xD;&#xA;Medium ~15%:M&#xD;&#xA;Quartile ~25%:Q&#xD;&#xA;High ~30%:H" Type="String" />
            <Value Key="InputType" Value="dropdown" Type="String" />
            <Value Key="RowCount" Value="1.0" Type="Number" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-dropdown" AttributeSetName="@string-dropdown" EntityGUID="08329c42-678f-4501-99a6-36eaf99383d5" Json="True" KeyNumber="17">
            <Value Key="DropdownValues" Value="Low ~7% (recommended):L&#xA;Medium ~15%:M&#xA;Quartile ~25%:Q&#xA;High ~30%:H" Type="String" />
            <Value Key="EnableTextEntry" Value="False" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="ed705f94-32f1-49ef-8d69-96f602b50cb5" Json="True" KeyNumber="4">
      <Value Key="AllowRazorTemplates" Value="False" Type="Boolean" />
      <Value Key="AllowTokenTemplates" Value="True" Type="Boolean" />
      <Value Key="Description" Value="" Type="String" />
      <Value Key="DisplayName" Value="QR Code" Type="String" />
      <Value Key="Folder" Value="QrCode2" Type="String" />
      <Value Key="Hidden" Value="False" Type="Boolean" />
      <Value Key="OriginalId" Value="" Type="String" />
      <Value Key="RequiredDnnVersion" Value="09.06.01" Type="String" />
      <Value Key="RequiredOqtaneVersion" Value="03.04.00" Type="String" />
      <Value Key="RequiredVersion" Value="16.04.00" Type="String" />
      <Value Key="SupportsAjaxReload" Value="True" Type="Boolean" />
      <Value Key="Version" Value="02.03.00" Type="String" />
    </Entity>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="a6206d7a-ede1-4420-a347-e9c4211b84e6" KeyNumber="4">
      <Value Key="QrCodeSettings" Value="20b7dd4a-204f-44bd-bf27-7ed2960b85ac" Type="Entity" />
      <Value Key="Title" Value="QR App Settings" Type="String" />
    </Entity>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="ca0850a8-3db7-4850-9509-b3205670b1a9" KeyNumber="4">
      <Value Key="PrintQrAdminHint" Value="Here is an invisible print-only QR Code" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="d831e132-d352-4d35-a33b-19ca66aa157c" Json="True">
      <Value Key="ContentDemoEntity" Value="d2fa3bc0-ced2-45ff-99b6-bf38b7e40e62" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="14ce1b3c-e00b-46de-8ae3-2819a6ea7a33" Type="String" />
      <Value Key="Icon" Value="" Type="Hyperlink" />
      <Value Key="Identifier" Value="show" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Site" Type="String" />
      <Value Key="Name" Value="QR Code optionally showing URL or title" Type="String" />
      <Value Key="Path" Value="QRCode.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="SearchIndexingDisabled" Value="False" Type="Boolean" />
      <Value Key="SearchIndexingStreams" Value="" Type="String" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewController" Value="" Type="String" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="d2717071-2c1f-4acb-81c1-5f2f9461ad2e" Json="True">
      <Value Key="ContentDemoEntity" Value="d2fa3bc0-ced2-45ff-99b6-bf38b7e40e62" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="14ce1b3c-e00b-46de-8ae3-2819a6ea7a33" Type="String" />
      <Value Key="Icon" Value="" Type="Hyperlink" />
      <Value Key="Identifier" Value="print" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Site" Type="String" />
      <Value Key="Name" Value="QR Print only (Invisible otherwise)" Type="String" />
      <Value Key="Path" Value="QRCode.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="SearchIndexingDisabled" Value="False" Type="Boolean" />
      <Value Key="SearchIndexingStreams" Value="" Type="String" />
      <Value Key="Settings" Value="null" Type="Entity" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewController" Value="" Type="String" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity TargetType="5" AssignmentObjectType="ContentType" AttributeSetStaticName="ContentType" AttributeSetName="ContentType" EntityGUID="21ae0af8-2c97-45e3-9e65-9a166c7d84e9" Json="True" KeyString="d9576870-dc6a-4ac8-ab34-1eec47d7e8f1">
      <Value Key="Description" Value="QR Configuration" Type="String" />
      <Value Key="DynamicChildrenField" Value="" Type="String" />
      <Value Key="EditInstructions" Value="&lt;p&gt;You can customize how the QR code looks - but in general you should better just set the defaults as you want them, and not customize each one.&amp;nbsp;&lt;/p&gt;" Type="String" />
      <Value Key="Icon" Value="" Type="Hyperlink" />
      <Value Key="Label" Value="QR Code Settings" Type="String" />
      <Value Key="Link" Value="" Type="Hyperlink" />
      <Value Key="ListInstructions" Value="" Type="String" />
      <Value Key="Notes" Value="" Type="String" />
    </Entity>
    <Entity TargetType="5" AssignmentObjectType="ContentType" AttributeSetStaticName="ContentType" AttributeSetName="ContentType" EntityGUID="8ac73095-fb7d-4266-9ce2-2343c5a05910" Json="True" KeyString="cf2a32e6-4637-4ba0-8ffe-55b031e32b89">
      <Value Key="Description" Value="Title" Type="String" />
      <Value Key="EditInstructions" Value="" Type="String" />
      <Value Key="Icon" Value="" Type="Hyperlink" />
      <Value Key="Label" Value="Title" Type="String" />
      <Value Key="Link" Value="" Type="Hyperlink" />
      <Value Key="ListInstructions" Value="" Type="String" />
      <Value Key="Notes" Value="" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="14ce1b3c-e00b-46de-8ae3-2819a6ea7a33" AttributeSetName="Link" EntityGUID="d2fa3bc0-ced2-45ff-99b6-bf38b7e40e62">
      <Value Key="DisplayLinkOrTitle" Value="True" Type="Boolean" />
      <Value Key="Link" Value="https://azing.org/2sxc/r/TCmnZ17h" Type="Hyperlink" />
      <Value Key="LinkCurrentPage" Value="False" Type="Boolean" />
      <Value Key="NotesInternal" Value="&lt;p&gt;This is a demo item.&lt;/p&gt;" Type="String" />
      <Value Key="Title" Value="Installation checklist" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d9576870-dc6a-4ac8-ab34-1eec47d7e8f1" AttributeSetName="QrCodeSettings" EntityGUID="20b7dd4a-204f-44bd-bf27-7ed2960b85ac">
      <Value Key="BackgroundColor" Value="FFFFFF" Type="String" />
      <Value Key="Border" Value="1" Type="Number" />
      <Value Key="Color" Value="000000" Type="String" />
      <Value Key="ErrorCorrection" Value="L" Type="String" />
      <Value Key="ShowLinkOrTitleBelow" Value="block" Type="String" />
      <Value Key="Size" Value="200" Type="Number" />
      <Value Key="Title" Value="App Defaults Configuration (careful when you change this)" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="772dfff1-b236-4aa9-8359-5f53c08ff7bf" AttributeSetName="UiFormula" EntityGUID="f04d34b3-fe73-463e-86a5-46451de58934" Json="True">
      <Value Key="Enabled" Value="True" Type="Boolean" />
      <Value Key="Formula" Value="v1(data, context) { return !data.LinkCurrentPage; }" Type="String" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Target" Value="Field.Settings.Visible" Type="String" />
      <Value Key="Title" Value="Setting Visible" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="14ce1b3c-e00b-46de-8ae3-2819a6ea7a33" AttributeSetName="Link" EntityGUID="1c2b12e8-949d-4ac3-a383-a9d727e03574">
      <Value Key="DisplayLinkOrTitle" Value="False" Type="Boolean" />
      <Value Key="Link" Value="https://www.2sic.com/blog/post/behoerden-warnen-vor-influencergpt-von-2sic" Type="Hyperlink" />
      <Value Key="LinkCurrentPage" Value="False" Type="Boolean" />
      <Value Key="NotesInternal" Value="" Type="String" />
      <Value Key="QrCodeSettings" Value="089c4aa4-e9fb-40b6-9ed8-4c0e72dc6a67" Type="Entity" />
      <Value Key="Title" Value="Link to Current Page" Type="String" />
      <Value Key="VarOverrideQrSettings" Value="True" Type="Boolean" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="772dfff1-b236-4aa9-8359-5f53c08ff7bf" AttributeSetName="UiFormula" EntityGUID="b923cc5a-fe78-400e-b196-abcbe81b9e94" Json="True">
      <Value Key="Enabled" Value="True" Type="Boolean" />
      <Value Key="Formula" Value="v1(data, context) { return data.QrCodeSettings.length == 0; }" Type="String" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Target" Value="Field.Settings.Visible" Type="String" />
      <Value Key="Title" Value="Setting Visible" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="772dfff1-b236-4aa9-8359-5f53c08ff7bf" AttributeSetName="UiFormula" EntityGUID="33a60092-07b1-46c6-9c1e-e03a9e754910" Json="True">
      <Value Key="Enabled" Value="True" Type="Boolean" />
      <Value Key="Formula" Value="v1(data, context) {&#xA;  if (context.cache.alreadyRun) return data.value;&#xA;  context.cache.alreadyRun = true;&#xA;  return data.QrCodeSettings.length &gt; 0;&#xA;}" Type="String" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Target" Value="Field.Value" Type="String" />
      <Value Key="Title" Value="Value" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="772dfff1-b236-4aa9-8359-5f53c08ff7bf" AttributeSetName="UiFormula" EntityGUID="52d362e7-ba84-494e-b027-0038af375466" Json="True">
      <Value Key="Enabled" Value="True" Type="Boolean" />
      <Value Key="Formula" Value="v1(data, context) { return data.QrCodeSettings.length &gt; 0 || data.VarOverrideQrSettings; }" Type="String" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Target" Value="Field.Settings.Visible" Type="String" />
      <Value Key="Title" Value="Setting Visible" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d9576870-dc6a-4ac8-ab34-1eec47d7e8f1" AttributeSetName="QrCodeSettings" EntityGUID="089c4aa4-e9fb-40b6-9ed8-4c0e72dc6a67">
      <Value Key="BackgroundColor" Value="FFFFFF" Type="String" />
      <Value Key="Border" Value="1" Type="Number" />
      <Value Key="Color" Value="f542dd" Type="String" />
      <Value Key="ErrorCorrection" Value="L" Type="String" />
      <Value Key="ShowLinkOrTitleBelow" Value="" Type="String" />
      <Value Key="Size" Value="200" Type="Number" />
      <Value Key="Title" Value="Experimental pink" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="529ba3a2-d7d4-4f40-a81b-ff819de03a9e" AttributeSetName="IsDefaultDecorator" EntityGUID="53752983-6c68-4bf6-89c2-705c9b95a0ba" Json="True" KeyGuid="d831e132-d352-4d35-a33b-19ca66aa157c" />
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="5e958dc6-2922-4d68-835c-7b9711538b12" AttributeSetName="NoteDecorator" EntityGUID="f155093e-9159-405c-afeb-c2286e4256c4" Json="True" KeyGuid="ed705f94-32f1-49ef-8d69-96f602b50cb5">
      <Value Key="Note" Value="" Type="String" />
      <Value Key="NoteType" Value="note" Type="String" />
      <Value Key="Title" Value="empty" Type="String" />
    </Entity>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="be34f64b-7d1f-4ad0-b488-dabbbb01a186" AttributeSetName="LightSpeedOutputDecorator" EntityGUID="6abe469f-17c0-4414-a6ef-b9e6826a039d" Json="True" KeyNumber="4">
      <Value Key="Advanced" Value="" Type="String" />
      <Value Key="ByUrlParameters" Value="False" Type="Boolean" />
      <Value Key="Duration" Value="14400.0" Type="Number" />
      <Value Key="DurationEditors" Value="300.0" Type="Number" />
      <Value Key="DurationSystemAdmin" Value="300.0" Type="Number" />
      <Value Key="DurationUsers" Value="-1.0" Type="Number" />
      <Value Key="IsEnabled" Value="True" Type="Boolean" />
      <Value Key="Title" Value="✅ - Users 14400s, Reg 🚫, Editors 300s, SysAdmins 300s" Type="String" />
      <Value Key="UrlParametersCaseSensitive" Value="False" Type="Boolean" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="14ce1b3c-e00b-46de-8ae3-2819a6ea7a33" AttributeSetName="Link" EntityGUID="7decde09-fd7d-4c5c-86d5-74d210424bbe">
      <Value Key="DisplayLinkOrTitle" Value="True" Type="Boolean" />
      <Value Key="Link" Value="" Type="Hyperlink" />
      <Value Key="LinkCurrentPage" Value="True" Type="Boolean" />
      <Value Key="NotesInternal" Value="" Type="String" />
      <Value Key="Title" Value="" Type="String" />
      <Value Key="VarOverrideQrSettings" Value="False" Type="Boolean" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="14ce1b3c-e00b-46de-8ae3-2819a6ea7a33" AttributeSetName="Link" EntityGUID="dedc90bc-3576-4a13-891a-aeea51441d8c">
      <Value Key="DisplayLinkOrTitle" Value="True" Type="Boolean" />
      <Value Key="Link" Value="https://www.2sic.com/blog/post/behoerden-warnen-vor-influencergpt-von-2sic" Type="Hyperlink" />
      <Value Key="LinkCurrentPage" Value="False" Type="Boolean" />
      <Value Key="NotesInternal" Value="" Type="String" />
      <Value Key="Title" Value="" Type="String" />
      <Value Key="VarOverrideQrSettings" Value="False" Type="Boolean" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="14ce1b3c-e00b-46de-8ae3-2819a6ea7a33" AttributeSetName="Link" EntityGUID="00193b0b-1b5b-49ea-b6fa-4df65ed5bbda">
      <Value Key="DisplayLinkOrTitle" Value="True" Type="Boolean" />
      <Value Key="Link" Value="https://github.com/2sic/app-qr" Type="Hyperlink" />
      <Value Key="LinkCurrentPage" Value="False" Type="Boolean" />
      <Value Key="NotesInternal" Value="&lt;p&gt;Did GitHub instead of 2sxc Apps because name/link is less likely to change over time&lt;/p&gt;" Type="String" />
      <Value Key="Title" Value="Placeholder Item" Type="String" />
      <Value Key="VarOverrideQrSettings" Value="False" Type="Boolean" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="7558f239-9cb6-469e-8b66-79560641306e" Json="True">
      <Value Key="ContentDemoEntity" Value="00193b0b-1b5b-49ea-b6fa-4df65ed5bbda" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="14ce1b3c-e00b-46de-8ae3-2819a6ea7a33" Type="String" />
      <Value Key="Icon" Value="" Type="Hyperlink" />
      <Value Key="Identifier" Value="show" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Site" Type="String" />
      <Value Key="Name" Value="Manage Many QR Codes" Type="String" />
      <Value Key="Path" Value="QRCode-List.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="SearchIndexingDisabled" Value="False" Type="Boolean" />
      <Value Key="SearchIndexingStreams" Value="" Type="String" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="True" Type="Boolean" />
      <Value Key="ViewController" Value="" Type="String" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="40" RelativePath="adam/QrCode2/" />
  </PortalFolders>
</SexyContent>